AspNetCoreMvcAngular/node_modules
.vs/AspNetCoreMvcAngular/v15/.suo
AspNetCoreMvcAngular/angularApp/app/**/*.js.map
AspNetCoreMvcAngular/angularApp/app/**/*.js
AspNetCoreMvcAngular/angularApp/main.js
AspNetCoreMvcAngular/angularApp/main.js.map
AspNetCoreMvcAngular/angularApp/tests/components/home.component.spec.js
AspNetCoreMvcAngular/angularApp/tests/components/home.component.spec.js.map
AspNetCoreMvcAngular/bin
AspNetCoreMvcAngular/obj
AspNetCoreMvcAngular/wwwroot
AspNetCoreMvcAngular/angularApp/main-aot.js
AspNetCoreMvcAngular/angularApp/polyfills.js
AspNetCoreMvcAngular/angularApp/polyfills.js.map
AspNetCoreMvcAngular/angularApp/vendor.js
AspNetCoreMvcAngular/angularApp/vendor.js.map
AspNetCoreMvcAngular/AspNetCoreMvcAngular.csproj.user
AspNetCoreMvcAngular/aot
AspNetCoreMvcAngular/npm-debug.log.3657697821
IdentityServerWithIdentitySQLite/wwwroot
IdentityServerWithIdentitySQLite/obj
IdentityServerWithIdentitySQLite/bin
Logs
.vs/config/applicationhost.config
/.vs
/IdentityServerWithIdentitySQLite/node_modules
/AspNetCoreMvcAngular/angularApp/tests/**/*.js.map
/AspNetCoreMvcAngular/angularApp/tests/components/default.component.spec.js
/StsLogs.txt
