<nav class="bg-dark mb-4 navbar navbar-dark navbar-expand-md">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/default']"><em>ASP.NET Core Angular Webpack with Server side MVC</em></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="mr-auto navbar-nav">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/default']">Default</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/about']">About</a></li>
                <li class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/damien_bod"><img src="assets/damienbod.jpg" height="30" /></a>
                </li>
            </ul>
        </div>
    </div>
</nav>