<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Secure ASP.NET Core MVC app with Angular</title>
</head>
<body>
   
    <app-component>Loading...</app-component>

    @RenderBody()

    @RenderSection("Scripts", required: false)

<script type="text/javascript" src="/dist/polyfills.9863337c79fc223e847e.bundle.js"></script><script type="text/javascript" src="/dist/vendor.9863337c79fc223e847e.bundle.js"></script><script type="text/javascript" src="/dist/app.9863337c79fc223e847e.bundle.js"></script></body>
</html>
