@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Secure ASP.NET Core MVC app with Angular</title>

    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
   
    <my-app>Loading...</my-app>

    @RenderBody()

    @RenderSection("Scripts", required: false)

<script type="text/javascript" src="/dist/polyfills.97ed404dd2b3a81b95f0.bundle.js"></script><script type="text/javascript" src="/dist/vendor.97ed404dd2b3a81b95f0.bundle.js"></script><script type="text/javascript" src="/dist/app.97ed404dd2b3a81b95f0.bundle.js"></script></body>
</html>
